<app-menu-client></app-menu-client>

<h1 class="text-center m-5">Your Bills:</h1>

<div class="container">
  <button
    class="btn btn-primary align-center h-50 w-25"
    (click)="toggleFormShow()"
  >
    Add Monthly Bill
  </button>
</div>
<br />
<div id="add-new-bill-box" class="center">
  <form
    [formGroup]="new_bill_group"
    *ngIf="show"
    class="card w-50 h-50 form-group"
    (ngSubmit)="calculateBill()"
  >
    <label class="mx-3">Bill Type :</label>
    <br />
    <select
      formControlName="bill_type_selected"
      class="form-control mx-3"
      name="TypeOfBill"
      id="type"
      placeholder="choose Bill type"
    >
      <option value="Water">Water</option>
      <option value="Electricity">Electricity</option>
    </select>
    <label class="mx-3">Month :</label>
    <select
      formControlName="month_selected"
      class="form-control mx-3"
      name="MonthOfBill"
      id="month"
      placeholder="choose Month"
    >
      <option value="1">Jan</option>
      <option value="2">Feb</option>
      <option value="3">March</option>
      <option value="4">April</option>
      <option value="5">May</option>
      <option value="6">June</option>
      <option value="7">July</option>
      <option value="8">August</option>
      <option value="9">September</option>
      <option value="10">October</option>
      <option value="11">November</option>
      <option value="12">December</option>
    </select>
    <label class="mx-3" for="billAmount">Enter Unit cost :</label>
    <input
      formControlName="bill_amount"
      type="text"
      class="form-control mx-3"
      id="billUnitCost"
    />
    <button
      (click)="calculateBill()"
      class="btn btn-success w-50 align-center m-auto mt-3 mb-3"
    >
      Calculate Bill
    </button>
  </form>
</div>

<div class="search-container">
  <span>
    <mat-label>Filteration</mat-label>
    <br />
    <mat-form-field>
      <input
        matInput
        #searchInput
        (keyup)="search(searchInput.value)"
        placeholder="Search"
      />
    </mat-form-field>
  </span>
</div>
<!-- <mat-form-field>
  <mat-label>Filter by name</mat-label>
  <input
    matInput
    (keyup)="applyFilter($event.target.value)"
    placeholder="Name"
  />
</mat-form-field> -->

<!-- <mat-form-field>
  <mat-label>Filter by type</mat-label>
  <input
    matInput
    #filterByType
    (keyup)="applyFilter(filterByType.value)"
    placeholder="Type"
  />
</mat-form-field> -->
<div class="mat-elevation-z8">
  <table
    mat-table
    [dataSource]="dataSource"
    matSort
    matSort
    (matSortChange)="sortData($event)"
  >
    <!-- 1 id -->
    <ng-container matColumnDef="Bill ID">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Bill ID</th>
      <td mat-cell *matCellDef="let element">{{ element.id }}</td>
    </ng-container>
    <!-- 2 type -->
    <ng-container matColumnDef="Type">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Type</th>
      <td mat-cell *matCellDef="let element">{{ element.type }}</td>
    </ng-container>

    <!-- 3 month -->
    <ng-container matColumnDef="Month">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Month</th>
      <td mat-cell *matCellDef="let element">{{ element.month }}</td>
    </ng-container>

    <!-- 4 payment method -->
    <ng-container matColumnDef="Payment method">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Payment method</th>
      <td mat-cell *matCellDef="let element">{{ element.payment_method }}</td>
    </ng-container>

    <!-- 5 cost -->
    <ng-container matColumnDef="Cost">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Cost</th>
      <td mat-cell *matCellDef="let element">
        {{ element.cost | currency }}
      </td>
    </ng-container>

    <!-- 6 usage -->
    <ng-container matColumnDef="usage">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>usage</th>
      <td mat-cell *matCellDef="let element">{{ element.usage }}</td>
    </ng-container>

    <!-- 7 due date -->
    <ng-container matColumnDef="Due date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Due date</th>
      <td mat-cell *matCellDef="let element">{{ element.due_date }}</td>
    </ng-container>

    <!-- 8 Due amount -->
    <ng-container matColumnDef="Due amount">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Due amount</th>
      <td mat-cell *matCellDef="let element">{{ element.due_amount }}</td>
    </ng-container>

    <!-- 9 Status -->
    <ng-container matColumnDef="Status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
      <td
        mat-cell
        *matCellDef="let element"
        [ngStyle]="{
          'background-color': element.status === 'unpaid' ? 'red' : 'green'
        }"
      >
        {{ element.status }}
      </td>
    </ng-container>

    <!-- 10 Actions -->
    <ng-container matColumnDef="Actions">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Actions</th>

      <button
        class="btn btn-success align-center"
        *matCellDef="let element"
        (click)="pay_bill(element.id)"
      >
        <span *ngIf="element.status != 'paid'"> Pay </span>
      </button>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
  ></mat-paginator>
</div>

<br />

<app-footer></app-footer>
