<footer class="text-center text-lg-start text-muted">
  <br />
  <section class="Sec1">
    <div class="container text-center">
      <div class="row">
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold">Useful links</h6>
          <p>
            <a to="/about" class="text-reset">About</a>
          </p>
          <p>
            <a to="/" class="text-reset">Home</a>
          </p>

          <p>
            <a href="/#" class="text-reset">Help</a>
          </p>
        </div>
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto">
          <h6 class="text-uppercase fw-bold">Contact Us</h6>
          <p>
            <i class="fas fa-envelope"></i>
            https://www.eehc.gov.eg
          </p>
          <p><i class="fas fa-phone"></i> + 201 234 567 88</p>
          <p><i class="fas fa-print"></i> + 201 234 567 89</p>
        </div>
      </div>
    </div>
  </section>
  <div class="text-center">
    © Billing System Copyright:
    <a class="text-reset fw-bold" href="#"> Docs </a>
  </div>
</footer>
