<header class="header shadow">
  <nav class="navbar bg-white ">
      <div class="container-fluid">
                      <img class=" img-thumbnail logo shadow" src="/assets/IS logo.png" alt="Logo" style="width: 6rem; height: 4rem;" class=" mx-5 d-inline-block align-text-top">
        <a class="navbar-brand" routerLink="/ClientHome"><h2>Billing System</h2></a>
        <nav class="navbar navbar-expand-sm bg-light align-center">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" routerLink="/ClientHome">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/about">Bundles</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/contact">My Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/sign-in">Logout </a>
            </li>
            <li class="nav-item">
              <a type="button"  routerLink="/sign-in"><img src="/assets/logout.jpg" alt="Button Image"></a>
            </li>
          </ul>
        </nav>
      </div> 
    </nav>
<br>
</header>


