<button
  type="button"
  data-toggle="collapse"
  data-bs-target="#navbarContent"
  aria-controls="menu"
  aria-expanded="false"
  aria-label="Toggle navigation"
  class="navbar-toggler"
>
  <span class="navbar-toggler-icon"></span>
</button>
<div id="navbarContent" class="collapse navbar-collapse">
  <nav className="navbar navbar-exband">
    <div className="container">
      <ul className="navbar nav col-3">
        <li className="nav-item active">
          <a routerLink="/ClientHome" className="text-dark">Home</a>
        </li>
        <li className="nav-item">
          <a routerLink="/ClientBills" className="text-dark">Bills</a>
        </li>
        <li className="nav-item">
          <a routerLink="/ClientProfile" className="text-dark"
            ><span className="glyphicon glyphicon-user"></span> My Profile</a
          >
        </li>
        <li className="nav-item">
          <a routerLink="/sign-in" className="text-dark"
            ><span className="glyphicon glyphicon-log-in"></span> Logout</a
          >
        </li>
      </ul>
    </div>
  </nav>
</div>
