<app-menu-provider></app-menu-provider>

<!-- <p>table of bills displayed here m3 filtration w search w  t2riban m3 button add monthly bill </p> -->
<h1 class="text-left mt-3">Your Bundles:</h1>

<div class="container">
  <table
    id="example"
    class="table table-dark table-striped"
    style="width: 100%" >
    <thead>
      <tr>
        <th style=" width: 20%">Bundle ID</th>
        <th>Name</th>
        <th>Size</th>
        <th># of pages</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
          <tr>
            <td style=" width: 20%" ></td>
            <td>
              <a target="_blank" href="">
               
              </a>
            </td>
            <td>
             
            </td>
            <td>###</td>
            <td>
              <a
                class="btn btn-info"
                target="_blank"
                href=""
              >
                open
              </a>
            </td>
            <td disabled="disabled">
              <button
                class="btn btn-danger"
                target="_blank"
                value={uploadedFile.name}
                href=""
              >
                delete file
              </button>
            </td> 
            <td>
             
            </td>
            <td>
              
            </td>
          </tr>
    </tbody>
    
  </table>
</div>
<br />


<app-footer></app-footer>
