/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
$headerColor: #146c94;
$backColor: #fff4e0;
$footerColor: #4d4d4d;

// header {
//   background-color: $headerColor;
// }
// body,
// html {
//   background-color: $backColor;
// }

// .app {
//   background-color: $backColor;
// }
// nav {
//   background-color: $headerColor;
// }

// .nav-link {
//   color: #404040;
// }
