<app-header></app-header>
<div class="displayTable center ">
  <div class="displayTableCell card  w-50 m-5">
    <div class="authBlock">
      <h3 class="center m-3">Reset Password</h3>
      <p class="center">
        Please enter your E-mail address to request a password reset...
      </p>
      <div class=" formGroup m-3">
        <label>E-Mail: </label>
        <input type="text" class="form-control" placeholder="Enter your Email"  #passwordResetEmail
        required
        />
      </div>
     
      <!-- Calling ForgotPassword from AuthService Api -->
      <div class=" formGroup d-grid   center ">
        <button type="submit" class="btn btn-success"  (click)="authService.ForgotPassword(passwordResetEmail.value)">
          Reset Password 
        </button>
      </div>
      
    </div>
    <div class="redirectToLogin center m-3">
      <span
        >Go back to ?
        <a class="redirect" routerLink="/sign-in"> Login</a></span
      >
    </div>
  </div>
</div>
<app-footer></app-footer>
